
.image-list img{
    width: 50px;
    margin: 5px;
    display: inline-block;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    display: none;
    z-index: -1;
}

.inputfile + label {
    text-align: center;
    padding-top: 14px;
    width: 400px;
    height: 55px;
    border: none;
    font-size: 20px;
    font-family:'Arial';
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
    /*box-shadow: 0 5px 25px rgba(0,0,0,.5);*/
    background-color: #4FBFA8;
    border-radius:25px;border:0px solid #AAAAAA;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-1 + label {
    color:  #FFFFFF;
    background-color: #4FBFA8;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #4FBFA8;
    width: 435px;
    height: 55px;
}
