.detailsContainers{
    border: 1px #d6d6d6 solid;
    background-color: #edecec;
    padding: 10px;
}

.imageHolder{
    margin: 10px;
}

.detailsHolder{
    margin: 10px;
}

hr{
    border: 0;
    border-top: 1px solid #979797;
    clear: both;
    height: 0;
    margin: 2.5rem auto;
}

.nav-container li{
    font-size: 1em;
    padding: 5px;
    background-color: #fff9e4;
    border-bottom: 1px solid #ccc;
}

.commentContainer{
    min-height: 99px;
    margin-bottom: 20px;
    padding:15px;
}

.bg-white{
    background-color: #ffffff;
}