.item-box{
    width: 100%;
    color: #000;
    padding: 6px;
    height:354px;
    background-color: #e5e5e5;
    border: 1px #9f9f9f solid;
    margin: 20px;
}

.item-box .details{
    padding: 0px;
    margin-top: 10px;

}

.item-box .pill{
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-box .details a{
    color: #0069d9;
    font-weight: bold;
}

.item-box .image-container{
    height: 250px;
}

@media (max-width : 768px){
    .item-box{
        width:auto;
        height: 488px;
    }

    .item-box .image-container{
        height: auto;
    }

}


@media (max-width : 425px){
    .item-box{
        width:auto;
        height: 295px;
    }

    .item-box .image-container{
        height: 230px;
        width: 234px;
        overflow:hidden;
        margin: 0 auto;
    }

    .image-container img{
        margin:-10px 0 0 0;
    }

}