.formContainer{
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: 100%;
}

.login-form form{
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.login-form a{
    color: #021a5f;
    font-size: 17px;
}

.login-form a:hover{
    color: #28b705;
}

.login-form .custom-input{
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;
    margin-bottom: 20px;
}

.login-form .alert-message{
    color:yellow;
    font-size: 17px;
}

.login-form label{
    font-weight: normal;
    font-size:12px;
}