
/* Modal */
.modal{
    background-color: #00000052;
}

.small-modal{
    height: auto!important;
    min-height: auto!important;
}

.modal .modalContainer {
    margin: auto;
    margin-top: auto;
    background: white;
    width: 33vw;
    min-height: 85vh;
    margin-top: 10px;
    box-shadow: 5px 5px 10px;
}

.modalContainer .header{
    padding:10px;
    background-color: #d2d2d2;
    font-weight: bold;
}

.modalContainer .header .close{
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    opacity: 0.6;
}

.modalContainer .header .close:hover{
    opacity: 0.8; 
}

/**    Content**/
.modalContainer .content{
    height: 80vh;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
} 

.modalContainer .footer{
    text-align: right;
    padding: 10px;
}

.modalContainer input,.modalContainer textArea{
    background-color: #ececec;
    padding:5px;
    width: 100%;
}

.modalContainer textarea{
    width: 100%;
    height: 100px;
    resize: none;   
}

.modalContainer .extras input{
    width: auto;
}
.modalContainer .content .row{
    margin-top:5px;
}

.modalContainer #mapIframe{
    width: 100%;
    height: 400px;
}

.modalContainer #imgHolder{
    padding:30px;
}

.modalContainer .imgthmd{
    background-color: red;
    border-radius: 39px;
    width: 25px;
    height: 25;
    text-align: center;
    font-weight: bold;
    position: relative;
    right: -241px;
    top: 14px;
    cursor: pointer
}

.modalContainer .imgthmd:hover{
    background-color: #f79191;
}


