.myPropList{
    margin: 0;
    padding :20px;
}



.myPropContainer{
    background-color: #e7e7e7;
    padding: 10px;
    margin-bottom: 20px;
    height: 315px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0000003b;;
}
.myPropContainer .body{
    min-height: 220px;
}

.myPropContainer .image-container{
    height: 228px;
}

.myPropContainer .buttons{
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.myPropContainer:nth-of-type(even){
    background-color: white;
}

.myPropList img{
    margin: auto;
    max-height: 220px;
}

/* Modal */
.modal{
    background-color: #00000052;
}

.modal .modalContainer {
    margin: auto;
    margin-top: auto;
    background: white;
    width: 33vw;
    min-height: 85vh;
    margin-top: 10px;
    box-shadow: 5px 5px 10px;
}

.modal

.modalContainer .header{
    padding:10px;
    background-color: #d2d2d2;
    font-weight: bold;
}

.modalContainer .header .close{
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    opacity: 0.6;
}

.modalContainer .header .close:hover{
    opacity: 0.8; 
}

/**    Content**/
.modalContainer .content{
    height: 80vh;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
} 

.modalContainer .footer{
    text-align: right;
    padding: 10px;
}

.modalContainer input,.modalContainer textArea{
    background-color: #ececec;
    padding:5px;
    width: 100%;
}

.modalContainer textarea{
    width: 100%;
    height: 100px;
    resize: none;   
}

.modalContainer .extras input{
    width: auto;
}
.modalContainer .content .row{
    margin-top:5px;
}

.modalContainer #mapIframe{
    width: 100%;
    height: 400px;
}

.modalContainer #imgHolder{
    padding:30px;
}

.modalContainer .imgthmd{
    background-color: red;
    border-radius: 39px;
    width: 25px;
    height: 25;
    text-align: center;
    font-weight: bold;
    position: relative;
    right: -241px;
    top: 14px;
    cursor: pointer
}

.modalContainer .imgthmd:hover{
    background-color: #f79191;
}


.wowSliderImage{
    width: 383px;
}

.noborder{
   border: none;
}

@media ( max-device-width: 1024px ) {
    .modal .modalContainer{
        width: 94%;
    }

    #wowslider-container1 .ws_images {
        width: 76%;
    }

    .myPropContainer .image-container {
        height: 189px;
    }

}