body
{
    margin:0;
    padding:0;
    background: #004882;
}
.box
{
    position:absolute;
    left:48%;
    transform: translate(-50%,-50%);
}
.box select
{
    background: #EBEBEB;
    color:#1B3815;

    padding: 10px;
    width: 400px;
    height: 55px;
    border: none;
    font-size: 15px;
    font-family:'Arial';
    text-indent: 20px;
    font-weight: bold;
    /*box-shadow: 0 5px 25px rgba(0,0,0,.5);*/
    -webkit-appearance: button;
    outline: none;
    border-radius:25px;border:0px solid #AAAAAA;
}
.box:before
{
    content: '\f358';
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #0A0A0A;
    font-size: 28px;
    background: #EBEBEB;
    pointer-events: none;
    border-radius:25px;border:0px solid #AAAAAA;
}


